name: contacts
description: Contacts feature for managing friends list.
version: 0.1.0
publish_to: none

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  core:
    path: ../../core
  provider: ^6.1.2
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4